.graphic-section {
    background-color: var(--bg-light);
}

.graphic-grid {
    display: grid;
    grid-template-areas:
        "credit-card slack-invoice slack-invoice"
        "phone slack-invoice slack-invoice"
        "phone dash dash"
    ;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg) 0;
}

.graphic-grid img {
    width: 100%;
    /* box-shadow: var(--standard-box-shadow); */
    filter: drop-shadow(var(--standard-box-shadow));

}

#credit-card {
    grid-area: credit-card;
}

#slack-invoice {
    grid-area: slack-invoice;
}

#phone {
    grid-area: phone;
}

#dash {
    grid-area: dash;
}